[data-md-color-primary="seumoo-docs"] {
  --md-primary-fg-color: #064256;
  --md-primary-fg-color--dark: #064256;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: hsla(0,0%,100%,.7);
  --md-typeset-a-color: #00bdd6;
  --md-footer-bg-color--dark: #064256;
}

#banner {
  text-align: center;
  margin-bottom: 1rem;
}

.md-footer {
  background-color: #13586e;
  color: var(--md-footer-fg-color);
}

.inline-block {
  display: inline-block;
}

.mr-2 {
  margin-left: 2rem;
}

.tg {
  border-collapse: collapse;
  border-color: #ccc;
  border-spacing: 0;
}

.tg td {
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-lboi {
  border-color: inherit;
  text-align: left;
  vertical-align: middle
}

.tg .tg-9wq8 {
  border-color: inherit;
  text-align: center;
  vertical-align: middle
}

.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top
}

.tg .tg-7btt {
  border-color: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: top
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top
}

.md-header__button.md-logo :-webkit-any(img,svg) {
  fill: currentcolor;
  FONT-WEIGHT: 200;
  height: 2rem;
  width: auto;
}

.text-center {
  text-align: center!important;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.my-5 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.fw-bold {
  font-weight: 700!important;
}

.display-5 {
    font-size: 3rem;
}

.md-typeset .md-button {
  border: .1rem solid;
  border-radius: .2rem;
  color: var(--md-primary-fg-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: .625em 2em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.md-typeset .md-button-primary {
  border: .1rem solid;
  border-radius: .2rem;
  color: var(--md-primary-fg-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: .625em 2em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.md-typeset .md-button:is(:focus,:hover) {
  color: var(--md-typeset-a-color);
}

.md-typeset .md-button:is(:focus,:hover) {
  background-color: white !important;
  border-color: white !important;
  color: var(--md-typeset-a-color);
}

.md-typeset .md-button-primary:is(:focus,:hover) {
  background-color: #13586e !important;
  border-color: #13586e !important;
  color: var(--md-typeset-a-color);
}