[data-md-color-primary="seumoo-docs"] {
  --md-primary-fg-color: #064256;
  --md-primary-fg-color--dark: #064256;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: hsla(0,0%,100%,.7);
  --md-typeset-a-color: #00bdd6;
  --md-footer-bg-color--dark: #064256;
}

#banner {
  text-align: center;
  margin-bottom: 1rem;
}

.md-footer {
  background-color: #13586e;
  color: var(--md-footer-fg-color);
}

.inline-block {
  display: inline-block;
}

.mr-2 {
  margin-left: 2rem;
}

.tg {
  border-collapse: collapse;
  border-color: #ccc;
  border-spacing: 0;
}

.tg td {
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-lboi {
  border-color: inherit;
  text-align: left;
  vertical-align: middle
}

.tg .tg-9wq8 {
  border-color: inherit;
  text-align: center;
  vertical-align: middle
}

.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top
}

.tg .tg-7btt {
  border-color: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: top
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top
}